   
    <%- include('header') -%>


    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title">
                <h2 class="font-weight-bold text-white">Login System</h2>
                <span class="text-white-50">Existing user</span>
            </div>
            <form action="/login" method="POST" onsubmit="return validateForm()">
                <div class="form-group">
                    <small class="form-text text-white text-left" id="email-address">Enter your email address</small>
                    <input type="email" class="form-control" placeholder="email" name="email" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <small class="form-text text-white text-left" id="login-password">Enter your Password</small>
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <p id="error-message" style="color: red;"></p>
               <p style="color: red;"><%= message %></p>
                <button type="submit" class="btn btn-success rounded-pi">Submit</button>
            </form>
        </div>
    </div>


    <%- include('footer') -%>
    
    <script>
        function validateForm() {
            const emailInput = document.querySelector('input[name="email"]');
            const passwordInput = document.querySelector('input[name="password"]');
            const errorMessage = document.getElementById('error-message');
    
            // Standard email validation
            const emailRegex = /admin@gmail.com/;

    
            if (!emailRegex.test(emailInput.value)) {
                errorMessage.textContent = 'Invalid email address';
                return false; // Prevent form submission
            }
    
            // Password validation
            const password = passwordInput.value;
            const passwordRegex = /Admin@123/;

    
            if (!passwordRegex.test(password)) {
                errorMessage.textContent = 'invalid password ';
                return false; // Prevent form submission
            }
            
            errorMessage.textContent = ''; // Clear any previous error message
            return true; // Allow form submission
        }
        </script>
    